Необходимо скачать датасеты: [`titles.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKajNMa1pfSzN6Q3M) и [`cast.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKal9UYTJSR2ZhSW8).

In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215981 entries, 0 to 215980
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   215981 non-null  object
 1   year    215981 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

Сколько фильмов в таблице?

In [3]:
print(titles.title.count())

215981

Какие два самых ранних фильма в таблице?

In [4]:
print(*list(titles.sort_values(by='year', ascending=True).head(2).title), sep=', ')

Miss Jerry, Reproduction of the Corbett and Fitzsimmons Fight

У скольких фильмов название `Hamlet`?

In [5]:
print(titles[titles.title == 'Hamlet'].title.count())

19

Выведите список всех фильмов `Treasure Island` с годами

In [6]:
print(titles[titles.title == 'Treasure Island'])

                  title  year
47769   Treasure Island  1920
90175   Treasure Island  1950
103646  Treasure Island  1973
104714  Treasure Island  1972
166675  Treasure Island  1999
190792  Treasure Island  1985
191379  Treasure Island  1918
192917  Treasure Island  1934

Сколько фильмов было сделано с 1850 по 1900 года?

In [7]:
print(titles[(titles.year >= 1850)&(titles.year <= 1900)].title.count())

8

In [8]:
cast = pd.read_csv('cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

У скольких ролей в фильме `Inception` неизвестно значение столбца `n`?

In [9]:
print(cast[cast.title == 'Inception'].n.isnull().sum())

22

А у скольких известно?

In [11]:
print(cast[cast.title == 'Inception'].n.count())

51

Отобразите актеров фильма `North by Northwest` по их "главности", то есть отсортируйте по значению столбца `n`. Неизвестные значиния игнорировать.

In [12]:
actors = cast[cast.title == 'North by Northwest'].sort_values(by='n', ascending=False)
print(*list(actors[actors.n.notna()].name), sep='\n')

Ken Lynch
Edward Binns
Patrick McVey
Philip Coolidge
Les Tremayne
Robert Ellenstein
Edward Platt
Adam Williams
Martin Landau
Philip Ober
Josephine Hutchinson
Leo G. Carroll
Jessie Royce Landis
James Mason
Eva Marie Saint
Cary Grant

Сколько ролей было в немой версии Гамлета 1921 года?

In [13]:
print(cast[(cast.title == 'Hamlet') & (cast.year == 1921)].character.count())

9

Перечислите вторые роли Брэда Питта по годам

In [36]:
with_BP = cast[(cast.name == 'Brad Pitt')].sort_values(by='year', ascending=True)[['title', 'year','character']]
for movie in with_BP.index:
    movie_actors = cast[cast.title == cast.iloc[movie].title].sort_values(by='n', ascending=True).name
    if movie_actors.count() > 1:
        if movie_actors.iloc[1] == 'Brad Pitt':
            print(cast.iloc[movie].year, ' ', cast.iloc[movie].character)

1988   Rick
1990   Joe Maloney
1992   Paul Maclean
1997   Rory Devaney
1997   Francis Austin McGuire
1998   Joe Black
1998   Young Man in Coffee Shop
1999   Tyler Durden
2001   Tom Bishop
2007   Rusty Ryan
2008   Benjamin Button
2010   Metro Man